<div class="productos-container">
  <h2 class="productos-title">Nuestros Productos</h2>

  <div class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <a [href]="producto.imagenUrl"><img [src]="producto.imagenUrl" [alt]="producto.imagenAlt" border="0"></a>
      <div class="producto-info">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        
        <button class="btn-comprar" (click)="abrirModalEspecificaciones(producto)">Ver Especificaciones</button>
      </div>
    </div>
  </div>
  
  <ng-container *ngIf="productoSeleccionado">
    
    <div class="modal-backdrop" (click)="cerrarModal()"></div>
    
    <div class="modal-custom">
      <div class="modal-header">
        <h2>Especificaciones de: {{ productoSeleccionado.nombre }}</h2>
        <button class="modal-close" (click)="cerrarModal()">×</button>
      </div>
      
      <div class="modal-body">
        <div class="modal-content-grid">
          
          <div class="modal-image-col">
            <img [src]="productoSeleccionado.imagenUrl" [alt]="productoSeleccionado.imagenAlt" class="modal-product-image">
          </div>

          <div class="modal-specs-col">
            <h3>Detalles</h3>
            
            <p *ngFor="let spec of productoSeleccionado.especificaciones">{{ spec }}</p>
            
<a 
  class="btn-comprar mt-3" 
  [href]="'https://wa.me/51905738741?text=Hola,%20estoy%20interesado%20en%20el%20producto%20' + productoSeleccionado.nombre" 
  target="_blank"
>
  💬 Cotizar {{ productoSeleccionado.nombre }}
</a>          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>